* {
  margin: 0;
  padding: 0;
  font-family: monospace, arial, helvetica;
}

html {
  min-height: 100%;
  background: linear-gradient( 45deg,
      #7424f3,
      #a679ee,
      #c2ace6,
      #75d2e9,
      #42bfdf
    );
}

body {
  margin:auto; 
  width: 80%;
  padding: 10px;
}

/*Text Properties*/
h1 {
  text-align: center;
  font-size: 40px;
  color: #8600b3;
  font-weight: bold;
}

p {
  text-align:left;
  font-size:15px;
  color: #000;
  margin: 15px 0;
}

/*Header Properties*/
header {
  display:block; 
  clear:both; 
  height:50px;
  border-radius: 5px;
  background-color:#fff;
  border: 0.5px black solid;
}

#banner {
  margin-top: 10px;
  height:50px;
}


/* Navigational bar Properties */
nav {
  margin:10px 0; 
  height:100%;
  background-color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0; 
  overflow: hidden;
  background-color: black;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #fff;
  font-size: 15px;
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none;
  height: 100%;
  width: 125px;
}

nav li a:hover {
  background-color: #fd8bfd;
  color: black;
}

.active {
  background-color: #8600b3;
}

/*Main section Properties*/
main {
  padding:10px;
  height:100%; 
  border-radius: 5px;
  background-color:#8600b3;
  border: 0.5px black solid;
}

#area1 {
  margin:15px;
  padding:20px;
  background-color:#fff;
  border-radius: 10px;
  border: 0.5px black solid;
  min-height: 150px;
}

#area1 h1 {
  font-size: 30px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo img {
  padding: 5px;
  height: 100px;
  width: 100px;
}

/*Form Properties*/
input[type="text"], input[type="password"], input[type="email"] {
  width:50%;
  margin-bottom: 10px;
  padding: 15px 5px 5px 5px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  background-color: transparent;
  color: #000;
  transition: 0.3s all;
}

input[type="number"] {
  width:4%;
  margin-bottom: 10px;
  padding: 15px 5px 5px 5px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  background-color: transparent;
  color: #000;
  transition: 0.3s all;
}

input[type="submit"] {
  float: right;
  position: relative;
  padding: 5px;
  border-radius: 5px;
  background: rgb(211, 211, 211);
  margin: 10px 0 0 40px;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
  0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover, input[type="checkbox"]:hover {
  background: rgb(211, 211, 211);
  box-shadow: 0 0 5px #a871ff, 0 0 10px #a871ff, 0 0 15px #a871ff, 0 0 20px #a871ff;
  opacity: 0.9;
  cursor: pointer;
}

input[type="checkbox"] {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0 0 10px;
  font-size: 15px;
  border: 0.5px black solid;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border-bottom: 2px solid #be00fd;
}

form p {
  float: left;
  padding-right: 10px;
}

/*Table Properties*/
table {
  border-collapse: collapse;
  text-align: center;
}

table, th, td {
  border: 1px solid #000;
  padding: 5px;
  font-size: 15px
}

th {
  font-style: italic;
}

/*Footer Properties*/
footer {
  margin:10px 0; 
  padding:10px; 
  clear:both; 
  height:100px;
  border-radius: 5px;
  background-color:#fff;
  border: 0.5px black solid;
  display: flex;
  justify-content: space-around;
}

footer ul {
  list-style: none;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

footer h2 {
  font-size: 20px;	
  text-align: center;
}

.app-logo {
  cursor: pointer;
  margin-top: 10px;
}

.app-logo img {
  height: 40px;
  width: 120px;
}

.col1 {
  float: left;
  text-align: center;
  flex-basis: 40%;
}

.col2 {
  float: left;
  flex-basis: 20%;
}

.col3 {
  flex-basis: 20%;
}

.fb:hover {
  color: #003db8;
  cursor: pointer;
  text-decoration: underline;
}

.tw:hover {
  color: #1DA1F2;
  cursor: pointer;
  text-decoration: underline;   
}

.in:hover {
  color: #ae0eee;
  cursor: pointer; 
  text-decoration: underline;  
}

.yt:hover {
  color: #FF0000;
  cursor: pointer; 
  text-decoration: underline;  
}

/* media query for less than 1200px */
@media screen and (max-width:1200px) {

  nav ul {
	  display: flex;
	  justify-content: space-evenly;
      align-items: center;	
	}
	
	nav li a {
	  width: 80px;
	  font-size: 12px;
	  padding: 14px 16px;
	  min-width: 80px;	
	}
}

/* media query for less than 900px */
@media screen and (max-width:900px) {
	
	#area1 h1 {
	  font-size: 20px;
	}

	h1 {
	  font-size: 30px;
	  padding: 5px;
	}

	p {
	  font-size: 12px;
	  text-align: center;	  
	}
	
	footer h2 {
	  font-size: 16px;	
	}
	
	footer ul {
	  font-size: 11px;	
	}
	
	.logo img {
	  padding: 5px;
	  height: 50px;
	  width: 50px;
	}
	
	.app-logo img {
	  height: 35px;
	  width: 90px;
	}
	
	input[type="text"], input[type="password"], input[type="email"], input[type="checkbox"], input[type="submit"] {
	  font-size: 12px;
	}
	
	input[type="number"] {
	  font-size: 12px;
	  width: 7%;
	}
	
	nav li a {
	  width: 65px;
	  font-size: 10px;
      padding: 14px 8px;
      min-width: 65px;	
	}
	
}

/* media query for less than 650px */
@media screen and (max-width:650px) {

  footer {
      height: 120px;
  }

  footer h2 {
	  font-size: 14px;	
	}
	
	footer ul {
	  font-size: 10px;	
	}

  .app-logo img {
	  height: 35px;
	  width: 80px;
	}

	nav li a {
	  width: 50px;
	  font-size: 8px;
      padding: 12px 7px;
      min-width: 50px;	
	}
}